body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: darkturquoise;
    color: #F2F2F2;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    color: darkturquoise;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: coral;
}

footer {
    text-align: center;
    padding: 10px;
    background: darkturquoise;
    color: #F2F2F2;
    bottom: 0;
    position: relative;
}